<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <!-- Command to edit PartDesign -->
      <command name="partDesign:edit" resolve="true" type="Feature.PartDesign.Mvc.Commands.EditPartDesign,Feature.PartDesign.Mvc"/>
    </commands>

    <pipelines>
      <mvc.buildPageDefinition>
        <!-- Pipeline responsible for dynamically injecting the PartDesign components -->
        <processor patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.BuildPageDefinition.ProcessXmlBasedLayoutDefinition, Sitecore.Mvc']"
               type="Feature.PartDesign.Mvc.Pipelines.AddPartDesignRenderings, Feature.PartDesign.Mvc" resolve="true"/>
      </mvc.buildPageDefinition>
    </pipelines>

    <!--Dependency Injection-->
    <services>
      <register serviceType="Feature.PartDesign.Mvc.Services.IPartDesignService, Feature.PartDesign.Mvc"
                implementationType="Feature.PartDesign.Mvc.Services.PartDesignService, Feature.PartDesign.Mvc"
                lifetime="Scoped"/>
    </services>

    <settings>
      <!-- Confirmation message for exiting without saving -->
      <setting name="PartDesign.EditConfirmMessage" value="If you have unsaved changes, they will be lost. Are you sure you want to proceed?" />
      <setting name="PartDesign.EditPartDesignLabel" value="Edit PartDesign" />
      <setting name="PartDesign.EmptyDatasourceMessage" value="If you have unsaved changes, they will be lost. Are you sure you want to proceed?" />
      <setting name="PartDesign.ComponentErrorMessage" value="Error rendering PartDesign (check Sitecore logs for details)" />

      <!-- Placeholder Key used by PartDesign -->
      <setting name="PartDesign.Placeholder" value="part-design" />
    </settings>

  </sitecore>
</configuration>

